.row{
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: -50px;
}
.searchTitle{
    height: 100px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#inputField{
    width: 500px;
    text-align: center;
}
#inputButton{
    display: flex !important;
    margin: auto !important;
}