<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="jumbotron">
    <div class="container">
        <h3 class="display-3 title">Welcome to Tunes!</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>5 random artists</h3>
                <p th:each="artist:${artists}" th:text="${artist.getName()}">
                </p>
            </div>
            <div class="col-sm">
                <h3>5 random songs</h3>
                <p th:each="song:${songs}" th:text="${song.getName()}">
                </p>
            </div>
            <div class="col-sm">
                <h3>5 random genres</h3>
                <p th:each="genre:${genres}" th:text="${genre.getName()}">
                </p>
            </div>
        </div>
    </div>
</div>
<div class="input-group mb-3 justify-content-center align-items-center">
    <form id="inputForm" action="#" th:action="@{/search}" th:object="${search}" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input id="inputField" type="text" placeholder="Search for a song..." th:field="*{term}">
        </div>
        <div>
            <button id="inputButton" type="submit" class="btn btn-dark">search</button>
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/index.js}"></script>
</html>