<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="jumbotron searchTitle">
    <div class="container">
        <h3 class="display-3 title">Search Result!</h3>
    </div>
</div>
<div class="container songResult">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song:${songs}">
            <td th:text="${song.getTrackName()}"></td>
            <td th:text="${song.getArtistName()}"></td>
            <td th:text="${song.getAlbumName()}"></td>
            <td th:text="${song.getGenre()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>